include src/aniworld/.env.example
include src/aniworld/ascii/ASCII.txt
include src/aniworld/aniskip/scripts/aniskip.lua
include src/aniworld/aniskip/scripts/autoexit.lua
include src/aniworld/aniskip/scripts/autostart.lua
recursive-include src/aniworld/web/templates *.html
recursive-include src/aniworld/web/static *.css *.js *.svg