beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
inflate64==1.0.0
multivolumefile==0.2.3
mutagen==1.47.0
psutil==5.9.8
py7zr==0.21.0
pybcj==1.0.2
pycryptodomex==3.20.0
pyppmd==1.1.0
pyzstd==0.15.10
requests==2.31.0
soupsieve==2.5
texttable==1.7.0
urllib3==2.2.1
websockets==12.0
yt-dlp==2024.4.9