:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 90vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

body h1 {
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.75rem;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

#query {
  text-align: center;
}

#episode,
#query,
#provider,
#language,
#anime {
  font-size: 1.15rem;
}

#episode,
#query {
  letter-spacing: 1px;
}

#submit {
  font-size: 1.5rem;
}

#provider,
#language,
#episode,
#anime {
  display: none;
}

#copyright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
  opacity: 0.75;
  z-index: 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  #provider,
  #language,
  #submit,
  #anime {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  #submit {
    border-radius: 15px;
  }
}

#status {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-line;
}

#copy {
  display: none;
  font-size: 1em;
}